@media screen and (max-width: 450px) {


  .home {
    left:28%;
  }

  .about {
    left:45%;
  }

  .tuto{
    left:68%;
  }

  .logoiptv{
    left:42%;
  }

  .txt-product{
    left:20%;
  }

  .txt-product-scroll{
    left:44.5%;
  }

  .txt-product-scroll:hover {
    left:44.5%;

  }

  .titremagique{
    top:16%;
    left:10%;
    font-size: 50px;
  }

  @keyframes anim-magique {
    0%{visibility: hidden;top:36%;}
    50%{visibility: hidden;top:36%;}
    100%{visibility: visible;top:16%;}

  }

  #blackblock{
    top:53%;
    left:4.5%;
    height: 500px;
    width: 340px;
  }

  .rocket{
    display: none;
  }


  .moon{
    display: none;
  }

  .txt-product{
    top:46%;
  }

  .x96img{
    display: block;
    top:70%;
    left:7%;
    height: 325px;
    width: 338px;
  }

  .commandex96img {

    display: none;
    position: absolute;
    height: 430px;
    width: 155px;
    top: 93%;
    left: 37%;
    z-index: 6;

  }
  .boxx96 {
    display: none;
    position: absolute;
    height: 280px;
    width: 280px;
    top: 112.6%;
    left: 48%;
    z-index: 6;

  }

  .learn-more{
    top:70%;
  }

  #first-sec {
    top: 40%;

  }

  .whiteblock{
    display:block;
    height: 630px;
    width: 340px;
    left:4.5%;
    top:150%;
  }
  .car-produit{
    top:145%;
    font-size: 40px ;
    left:8%;
  }

  #second-sec{
    top:130%;
  }

  .txt-copyright {

    left: 13%;

  }

  .acheter{
    top:75%;
    left:72.4%;
  }

  .poele{
    top:225%;
    left:8%;
    height:123.5px;
    width:317.5px;
  }

  .quatrek {

    top: 170%;
    left:6%;

  }

  .vod {

    top: 178%;
    left:6%;

  }

  .chaines {

    top: 186%;
    left:6%;

  }

  .check{

    top:176%;
    left:59%;

  }

  .check2{

    top:184%;
    left:86%;

  }

  .check3{

    top:198%;
    left:68%;
  }

  .spotify{
    top:220%;
    left:44%;
    height: 40px;
    width: 40px;
  }

  .netflix{
    left:54%;
    height: 42px;
    width: 57.333px;
  }

  .youtube{
    left:56%;
    height: 42px;
    width: 42px;
  }

  @keyframes anim-spot{
    0%{top:220%;}
    30%{top:215%;transform:rotate(-90deg)}
    100%{top:220%;transform:rotate(0deg)}
  }

  @keyframes anim-net{
    0%{top:223%;}
    30%{top:218%;transform:rotate(-45deg)}
    100%{top:223%;transform:rotate(0deg)}
  }

  @keyframes anim-ytb{
    0%{top:215%;}
    30%{top:210%;transform:rotate(-40deg)}
    100%{top:215%;transform:rotate(0deg)}
  }

}






