@media screen and (max-width: 450px) {


  .home {
    left:28%;
  }

  .about {
    left:45%;
  }

  .tuto{
    left:68%;
  }

  .logoiptv{
    left:42%;
  }

  .txt-product{
    left:20%;
  }

  .txt-product-scroll{
    left:44.5%;
  }

  .txt-product-scroll:hover {
    left:44.5%;

  }

  .titremagique{
    top:16%;
    left:10%;
    font-size: 50px;
  }

  @keyframes anim-magique {
    0%{visibility: hidden;top:36%;}
    50%{visibility: hidden;top:36%;}
    100%{visibility: visible;top:16%;}

  }

  #blackblock{
    top:53%;
    left:5%;
    height: 500px;
    width: 340px;
  }

  .rocket{
    display: none;
  }


  .moon{
    display: none;
  }

  .txt-product{
    top:46%;
  }

  .x96img{
    display: block;
    top:70%;
    left:7%;
    height: 325px;
    width: 338px;
  }

  .commandex96img {

    display: none;
    position: absolute;
    height: 430px;
    width: 155px;
    top: 93%;
    left: 37%;
    z-index: 6;

  }
  .boxx96 {
    display: none;
    position: absolute;
    height: 280px;
    width: 280px;
    top: 112.6%;
    left: 48%;
    z-index: 6;

  }

  .learn-more{
    top:70%;
  }

  #first-sec {
    top: 40%;

  }

  .whiteblock{
    display:block;
    height: 500px;
    width: 340px;
    left:5%;
    top:150%;
  }
  .car-produit{
    top:145%;
    font-size: 40px ;
    left:8%;
  }

  #second-sec{
    top:130%;
  }

  .txt-copyright {

    left: 13%;

  }

  .acheter{
    top:75%;
    left:72.4%;
  }
}






