@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttc");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
}


html {
  background-color: #191919;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  background-color: black;
  top: 0%;
  left:0%;
  width: 100%;
  height: 7%;
  z-index: 3;
}


.couronne {
  position: absolute;
  top: 1.3%;
  left: 8%;
  z-index: 4;
  height: 31px;
  width: 35px;
  animation-name: rotacrn;
  animation-duration: 3s;
}


#whiteblock {
  position: absolute;
  top: 40%;
  left: 43%;
  height: 200px;
  width: 250px;
  background-color: white;
  z-index: 4;
}


#first-sec {
  visibility: hidden;
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: "SF Pro Display";
  top: 60%;
  left: 43%;
  z-index: 5;

}

.home {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: Roman;
  text-decoration: none;
  top: 2%;
  left: 40%;
  z-index: 5;

}

.about {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: Roman;
  text-decoration: none;
  top: 2%;
  left: 50%;
  z-index: 5;

}

.tuto {
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: Roman;
  text-decoration: none;
  top: 2%;
  left: 60%;
  z-index: 5;

}


.txt-copyright {
  position: absolute;
  color: #7a7575;
  font-family: "SF Pro Display";
  font-size: 12px;
  top: 384%;
  left: 20%;
  z-index: 7;
}

.car-produit {
  position: absolute;
  color: black;
  font-family: "SF Pro Display";
  font-size: 60px;
  top: 160%;
  left: 30%;
  z-index: 8;
}

@keyframes rotacrn {
  0% {
    position: absolute;
  }
  100% {
    position: absolute;
    transform: rotate(360deg)
  }

}

.blocfoot {
  position: absolute;
  background-color: #292929;
  top: 380%;
  left:0%;
  width: 100%;
  height: 0.2%;
  z-index: 3;
}

.bas-page {
  position: absolute;
  color: #7a7575;
  font-family: "SF Pro Display";
  font-size: 12px;
  top: 390%;
  left: 20%;
  z-index: 7;
}

.rocket {
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 2;
}



.moon {
  position: absolute;
  top: 270%;
  left:-20%;
  transform: rotate(340deg);
  z-index: 2;
}


#paypal-button-container{
  position: absolute;
  top:99%;
  left:50%;
  width:250px;
  background-color:darkgrey;
  background-position-y: 600px;

}

#whiteblockPAY {
  position: absolute;
  top: 90%;
  left: 55%;
  height: 200px;
  width: 250.2px;
  background-color: darkgrey;
  z-index: 4;
}

.greyblock {
  position: absolute;
  top: 75%;
  left: 50%;
  height: 700px;
  width: 500px;
  background-color: #e9e9e9;
  z-index: 4;
}

.ligne {
  position: absolute;
  top: 25%;
  left: 56%;
  height: 1.5px;
  width: 220px;
  background-color: darkgrey;
  z-index: 5;
}

.ligne-mid {
  position: absolute;
  top: 250%;
  height: 1.5px;
  width: 100%;
  background-color: darkgrey;
  z-index: 5;
}

.price {
  position: absolute;
  top: 20%;
  left: 60%;
  font-family: "Avenir";
  font-size:60px;
  z-index: 5;
}

.desc-produit {
  position: absolute;
  top: 25%;
  left: 50%;
  color: #e9e9e9;
  animation-name: anim-descprod;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  font-family: "Avenir";
  font-size:40px;
  z-index: 5;
}

@keyframes anim-descprod {
  0% {
    visibility: hidden;
    top: 36%;
  }
  50% {
    visibility: hidden;
    top: 36%;
  }
  100% {
    visibility: visible;
    top: 25%;
  }

}


.sous-desc {
  position: absolute;
  top: 42%;
  left: 50%;
  color: darkgrey;
  animation-name: anim-freelivraison;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  font-family: "Avenir";
  font-size:20px;
  z-index: 5;
}

.txt-stockage {
  position: absolute;
  top: 51%;
  left: 50%;
  color: whitesmoke;
  animation-name: anim-stockage;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  font-family: "Avenir";
  font-size:20px;
  z-index: 5;
}

@keyframes anim-stockage {
  0% {
    visibility: hidden;
    top: 61%;
  }
  50% {
    visibility: hidden;
    top: 61%;
  }
  100% {
    visibility: visible;
    top: 51%;
  }

}

.GB {
  position: absolute;
  top: 60.6%;
  left: 52%;
  color: whitesmoke;
  font-family: "Avenir";
  font-size:23px;
  z-index: 6;
}

.bloc-stockage{
  position: absolute;
  top:60%;
  left:50%;
  height:80px;
  width:300px;
  background-color: #191919;
  border-style: solid;
  border-color: dodgerblue;
  border-radius: 5px;
  z-index:6;
}

.price-block {
  position: absolute;
  top: 14%;
  left: 70%;
  color: darkgrey;
  font-family: "Avenir";
  font-size:18px;
  z-index: 6;
}

.imgBOX{
  position: absolute;
  top:30%;
  left:0%;
  width:750px;
  height: 477px;
  z-index:6;
}

.box{
  position: absolute;
  top:47%;
  left:60%;
  height:40px;
  width:40px;
  z-index: 7;

}

.free-livraison{
  position: absolute;
  font-family: Avenir;
  font-size: 15px;
  top:46%;
  left:70%;
  z-index: 7;
}

@keyframes anim-freelivraison {
  0% {
    visibility: hidden;
    top: 50%;
  }
  50% {
    visibility: hidden;
    top: 50%;
  }
  100% {
    visibility: visible;
    top: 42%;
  }

}

.dispo{
  position: absolute;
  font-family: Avenir;
  font-size: 20px;
  top:1%;
  left:27%;
  z-index: 7;
}

.EnStock{
  position: absolute;
  font-family: Avenir;
  font-size: 20px;
  color: forestgreen;
  top:1%;
  left:57%;
  z-index: 7;
}

.witb{
  position: absolute;
  top:20px;
  left:36%;
  font-family: Avenir;
  font-size: 50px;
  color: #e9e9e9;
  z-index: 7;

}

.x96-img{
  position: absolute;
  top:-200px;
  height:160px;
  width:160px;
  left:-70%;
  z-index: 8;
}

.commande-img{
  position: absolute;
  height:253px;
  width:106px;
  top:-260px;
  left:0%;
  z-index: 8;
}

.hdmi-img{
  position: absolute;
  height:253px;
  width:150px;
  top:-260px;
  left:-19%;
  z-index: 8;
}

.alim-img{
  position: absolute;
  height:253px;
  width:230px;
  top:-260px;
  left:-19%;
  z-index: 8;
}

.fond-desc{
  position: absolute;
  top:200px;
  left:30%;
  height:500px;
  width:800px;
  opacity: 90%;
  background-color: #f5f5f5;
  z-index:7;
}

.desc-box{
  position: absolute;
  top:300px;
  left:10%;
  color: #191919;
  font-family: Avenir;
  font-size: 20px;
  z-index: 8;
}

.desc-commande{
  position: absolute;
  top:300px;
  left:33%;
  color: #191919;
  font-family: Avenir;
  font-size: 20px;
  z-index: 8;
}

.desc-hdmi{
  position: absolute;
  top:300px;
  left:56%;
  color: #191919;
  font-family: Avenir;
  font-size: 20px;
  z-index: 8;
}

.desc-alim{
  position: absolute;
  top:300px;
  left:75%;
  color: #191919;
  font-family: Avenir;
  font-size: 20px;
  z-index: 8;
}







